<!--All code by Muhammad ravat (w1984454)-->
<!-- (Mohi w1972510) Added full table borders with border-collapse and black cell borders line 48-144 -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'input.css' %}">
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <link rel="stylesheet" href="{% static 'nav.css' %}">    
    <link rel="stylesheet" href="{% static 'stats/statsStyle.css' %}">
    <title>Document</title>
</head>
<body>
  {% include 'userNav.html' %}

    <main class="flex mx-auto mb-6 w-max gap-y-8 mt-2 text-2xl items-center text-center flex-col">
        <h1 class="text-white font-bold text-5xl mt-4 mb-4 underline">Your Summary</h1>
        <div>
            <div class="flex flex-row justify-between gap-x-20">
              <div class="text-center p-4 w-52 border-black border-2 bg-white font-semibold">
                <p class="mb-4">Positive Votes</p>
                <div class="relative w-32 h-32 mx-auto rounded-full" style="background: conic-gradient(green 16deg, gray 90deg 360deg);">
                  <div class="absolute inset-4 bg-white rounded-full"></div>
                  <p class="absolute inset-0 flex items-center justify-center text-center text-black">5%</p>
                </div>
              </div>
              <div class="text-center p-4 w-52 border-black border-2 bg-white font-semibold">
                <p class="mb-4">Stable Votes</p>
                <div class="relative w-32 h-32 mx-auto rounded-full" style="background: conic-gradient(orange 220deg, gray 90deg 360deg);">
                  <div class="absolute inset-4 bg-white rounded-full"></div>
                  <p class="absolute inset-0 flex items-center justify-center text-center text-black">60%</p>
                </div>
              </div>             
              <div class="text-center p-4 w-52 border-black border-2 bg-white font-semibold">
                <p class="mb-4">Negative Votes</p>
                <div class="relative w-32 h-32 mx-auto rounded-full" style="background: conic-gradient(red 140deg, gray 90deg 360deg);">
                  <div class="absolute inset-4 bg-white rounded-full"></div>
                  <p class="absolute inset-0 flex items-center justify-center text-center text-black">35%</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overflow-x-auto text-base">
            <table class="min-w-full bg-white border border-black border-collapse">
                <thead>
                  <tr class="bg-gray-100">
                    <th class="py-3 px-4 border border-black text-left">Session</th>
                    <th class="py-3 px-4 border border-black text-left">Delivering Value</th>
                    <th class="py-3 px-4 border border-black text-left">Easy to Release</th>
                    <th class="py-3 px-4 border border-black text-left">Health of Codebase</th>
                    <th class="py-3 px-4 border border-black text-left">Fun</th>
                    <th class="py-3 px-4 border border-black text-left">Mission</th>
                    <th class="py-3 px-4 border border-black text-left">Pawns or Players</th>
                    <th class="py-3 px-4 border border-black text-left">Suitable Process</th>
                    <th class="py-3 px-4 border border-black text-left">Speed</th>
                    <th class="py-3 px-4 border border-black text-left">Support</th>
                    <th class="py-3 px-4 border border-black text-left">Teamwork</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="p-6 border border-black">Session 1</td>
                    <td class="p-6 border border-black bg-red-600"></td>
                    <td class="p-6 border border-black bg-green-700"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                    <td class="p-6 border border-black bg-green-700"></td>
                    <td class="p-6 border border-black bg-red-600"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                    <td class="p-6 border border-black bg-green-700"></td>
                    <td class="p-6 border border-black bg-red-600"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                    <td class="p-6 border border-black bg-green-700"></td>
                  </tr>
                  <tr>
                    <td class="p-6 border border-black">Session 2</td>
                    <td class="p-6 border border-black bg-green-700"></td>
                    <td class="p-6 border border-black bg-red-600"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                    <td class="p-6 border border-black bg-red-600"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                    <td class="p-6 border border-black bg-green-700"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                    <td class="p-6 border border-black bg-red-600"></td>
                    <td class="p-6 border border-black bg-green-700"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                  </tr>
                  <tr>
                    <td class="p-6 border border-black">Session 3</td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                    <td class="p-6 border border-black bg-green-700"></td>
                    <td class="p-6 border border-black bg-red-600"></td>
                    <td class="p-6 border border-black bg-green-700"></td>
                    <td class="p-6 border border-black bg-red-600"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                    <td class="p-6 border border-black bg-green-700"></td>
                    <td class="p-6 border border-black bg-red-600"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                    <td class="p-6 border border-black bg-green-700"></td>
                  </tr>
                  <tr>
                    <td class="p-6 border border-black">Session 4</td>
                    <td class="p-6 border border-black bg-green-700"></td>
                    <td class="p-6 border border-black bg-red-600"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                    <td class="p-6 border border-black bg-red-600"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                    <td class="p-6 border border-black bg-green-700"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                    <td class="p-6 border border-black bg-red-600"></td>
                    <td class="p-6 border border-black bg-green-700"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                  </tr>
                  <tr>
                    <td class="p-6 border border-black">Session 5</td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                    <td class="p-6 border border-black bg-green-700"></td>
                    <td class="p-6 border border-black bg-red-600"></td>
                    <td class="p-6 border border-black bg-green-700"></td>
                    <td class="p-6 border border-black bg-red-600"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                    <td class="p-6 border border-black bg-green-700"></td>
                    <td class="p-6 border border-black bg-red-600"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                    <td class="p-6 border border-black bg-green-700"></td>
                  </tr>
                  <tr>
                    <td class="p-6 border border-black">Session 6</td>
                    <td class="p-6 border border-black bg-green-700"></td>
                    <td class="p-6 border border-black bg-red-600"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                    <td class="p-6 border border-black bg-red-600"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                    <td class="p-6 border border-black bg-green-700"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                    <td class="p-6 border border-black bg-green-700"></td>
                    <td class="p-6 border border-black bg-orange-600"></td>
                  </tr>
                </tbody>
              </table>
        </div>
</body>
</html>
