<!--All code by Muhammad ravat (w1984454)-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'input.css' %}">
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <link rel="stylesheet" href="{% static 'nav.css' %}">    
    <link rel="stylesheet" href="{% static 'stats/statsStyle.css' %}">
    <title>Document</title>
</head>
<body class=" text-xl overflow-x-hidden">
  {% include 'userNav.html' %}
    <main class="flex mx-auto mb-6 w-max gap-y-8 mt-2 text-2xl items-center text-center flex-col">
        <h1 class="text-white font-bold text-5xl mt-4 mb-4 underline">Team Summary</h1>
        <div>
            <div class="flex flex-row justify-between gap-x-20">
              <div class="text-center p-4 w-52 border-black border-2 bg-white font-semibold">
                <p class="mb-4">Positive Votes</p>
                <div class="relative w-32 h-32 mx-auto rounded-full" style="background: conic-gradient(green 16deg, gray 90deg 360deg);">
                <div class="absolute inset-4 bg-white rounded-full"></div>
                  <p class="absolute inset-0 flex items-center justify-center text-center text-black">5%</p>
                </div>
              </div>
              <div class="text-center p-4 w-52 border-black border-2 bg-white font-semibold">
                <p class="mb-4">Stable Votes</p>
                <div class="relative w-32 h-32 mx-auto rounded-full" style="background: conic-gradient(orange 220deg, gray 90deg 360deg);">
                <div class="absolute inset-4 bg-white rounded-full"></div>
                  <p class="absolute inset-0 flex items-center justify-center text-center text-black">60%</p>
                </div>
              </div>             
              <div class="text-center p-4 w-52 border-black border-2 bg-white font-semibold">
                <p class="mb-4">Negative Votes</p>
                <div class="relative w-32 h-32 mx-auto rounded-full" style="background: conic-gradient(red 140deg, gray 90deg 360deg);">
                <div class="absolute inset-4 bg-white rounded-full"></div>
                  <p class="absolute inset-0 flex items-center justify-center text-center text-black">35%</p>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="overflow-x-auto text-base">
            <table class="min-w-full bg-white border border-gray-300">
              <thead>
                <tr class="bg-gray-100">
                  <th class="py-3 px-4 border-b text-left">Delivering Value</th>
                  <th class="py-3 px-4 border-b text-left">Easy to Release</th>
                  <th class="py-3 px-4 border-b text-left">Health of Codebase</th>
                  <th class="py-3 px-4 border-b text-left">Fun</th>
                  <th class="py-3 px-4 border-b text-left">Mission</th>
                  <th class="py-3 px-4 border-b text-left">Pawns or Players</th>
                  <th class="py-3 px-4 border-b text-left">Suitable Process</th>
                  <th class="py-3 px-4 border-b text-left">Speed</th>
                  <th class="py-3 px-4 border-b text-left">Support</th>
                  <th class="py-3 px-4 border-b text-left">Teamwork</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="p-6 border-b">Team 1</td>
                  <td class="p-6 border-b bg-red-600"></td>
                  <td class="p-6 border-b bg-green-700"></td>
                  <td class="p-6 border-b bg-orange-600"></td>
                  <td class="p-6 border-b bg-green-700"></td>
                  <td class="p-6 border-b bg-red-600"></td>
                  <td class="p-6 border-b bg-orange-600"></td>
                  <td class="p-6 border-b bg-green-700"></td>
                  <td class="p-6 border-b bg-red-600"></td>
                  <td class="p-6 border-b bg-orange-600"></td>
                  <td class="p-6 border-b bg-green-700"></td>
                </tr>
                <tr>
                  <td class="p-6 border-b">Team 2</td>
                  <td class="p-6 border-b bg-green-700"></td>
                  <td class="p-6 border-b bg-red-600"></td>
                  <td class="p-6  border-b bg-orange-600"></td>
                  <td class="p-6  border-b bg-red-600"></td>
                  <td class="p-6 border-b bg-orange-600"></td>
                  <td class="p-6 border-b bg-green-700"></td>
                  <td class="p-6 border-b bg-orange-600"></td>
                  <td class="p-6 border-b bg-red-600"></td>
                  <td class="p-6 border-b bg-green-700"></td>
                  <td class="p-6 border-b bg-orange-600"></td>
                </tr>
                <tr>
                  <td class="p-6 border-b">Team 3</td>
                  <td class="p-6 border-b bg-orange-600"></td>
                  <td class="p-6 border-b bg-green-700"></td>
                  <td class="p-6 border-b bg-red-600"></td>
                  <td class="p-6 border-b bg-green-700"></td>
                  <td class="p-6 border-b bg-red-600"></td>
                  <td class="p-6 border-b bg-orange-600"></td>
                  <td class="p-6 border-b bg-green-700"></td>
                  <td class="p-6 border-b bg-red-600"></td>
                  <td class="p-6 border-b bg-orange-600"></td>
                  <td class="p-6 border-b bg-green-700"></td>
                </tr>
                <tr>
                  <td class="p-6 border-b">Team 4</td>
                  <td class="p-6 border-b bg-green-700"></td>
                  <td class="p-6 border-b bg-red-600"></td>
                  <td class="p-6 border-b bg-orange-600"></td>
                  <td class="p-6 border-b bg-red-600"></td>
                  <td class="p-6 border-b bg-orange-600"></td>
                  <td class="p-6 border-b bg-green-700"></td>
                  <td class="p-6 border-b bg-orange-600"></td>
                  <td class="p-6 border-b bg-red-600"></td>
                  <td class="p-6 border-b bg-green-700"></td>
                  <td class="p-6 border-b bg-orange-600"></td>
                </tr>
                <tr>
                  <td class="p-6 border-b">Team 5</td>
                  <td class="p-6 border-b bg-orange-600"></td>
                  <td class="p-6 border-b bg-green-700"></td>
                  <td class="p-6 border-b bg-red-600"></td>
                  <td class="p-6 border-b bg-green-700"></td>
                  <td class="p-6 border-b bg-red-600"></td>
                  <td class="p-6 border-b bg-orange-600"></td>
                  <td class="p-6 border-b bg-green-700"></td>
                  <td class="p-6 border-b bg-red-600"></td>
                  <td class="p-6 border-b bg-orange-600"></td>
                  <td class="p-6 border-b bg-green-700"></td>
                </tr>
                <tr>
                  <td class="p-6 border-b">Team 6</td>
                  <td class="p-6 border-b bg-green-700"></td>
                  <td class="p-6 border-b bg-red-600"></td>
                  <td class="p-6 border-b bg-orange-600"></td>
                  <td class="p-6 border-b bg-red-600"></td>
                  <td class="p-6 border-b bg-orange-600"></td>
                  <td class="p-6 border-b bg-green-700"></td>
                  <td class="p-6 border-b bg-orange-600"></td>
                  <td class="p-6 border-b bg-red-600"></td>
                  <td class="p-6 border-b bg-green-700"></td>
                  <td class="p-6 border-b bg-orange-600"></td>
                </tr>
              </tbody>  
            </table>
          </div>


          <form action="" class="bg-white p-8  border-2 border-black">
            <h1 class="text-3xl font-bold underline mb-4">Check Progress of Cards</h1>
            <label for="">Date:
                <input type="date" name="" id=" " class=" p-1 border-2 border-black" > - <input type="date" name="" id="" class=" p-1 border-2 border-black" >
            </label> <br>
            <label for="" class="block mt-4">Select a card: 
                <select name="" id="" class=" p-1 border-2 border-black w-[65%]">
                    <option value="">Teamwork</option>
                    <option value="">Fun</option>
                </select>
              </label>

              <div class="flex flex-col justify-center items-center h-full">
                <h1 class="top-0 text-center font-bold mb-6">Team Summary</h1>
                <div class="flex flex-row justify-center gap-x-4 text-xs">
                  <figure>
                    <img src="/static/stats/Images/figArrowUp.svg" alt="" class="w-10 mx-auto h-10 border-2 border-black">
                    <figcaption>Improving Progress</figcaption>
                  </figure>
                  <figure>
                    <img src="/static/stats/Images/figArrowDown.svg" alt="" class="w-10 mx-auto h-10 border-2 border-black">
                    <figcaption>Worsening Progress</figcaption>
                  </figure>
                  <figure>
                    <img src="/static/stats/Images/figArrowStable.svg" alt="" class="w-10 mx-auto h-10 border-2 border-black">
                    <figcaption>Stable Progress</figcaption>
                  </figure>
                </div>

                <div class="flex flex-row gap-x-4 justify-center text-xs mt-4">
                  <figure> 
                    <div class="w-10 h-10 mx-auto bg-red-800 border-2 border-black"></div>
                    <figcaption>Poor rating</figcaption>
                  </figure>
                  <figure>
                    <div class="w-10 h-10 mx-auto bg-orange-600 border-2 border-black"></div>
                    <figcaption>Average rating</figcaption>
                  </figure>
                  <figure>
                    <div class="w-10 h-10 mx-auto bg-green-600 border-2 border-black"></div>
                    <figcaption>Good rating</figcaption>
                  </figure>
                </div>

                <div class="flex flex-row items-center">
                  <ul class="flex flex-row gap-x-4 mb-14 mt-20">
                    <li><img src="/static/stats/Images/stableOrange.svg" class="w-20 h-20"></li>
                    <li><img src="/static/stats/Images/stableRed.svg" alt="" class="w-20 h-20"></li>
                    <li><img src="/static/stats/Images/upGreen.svg" alt="" class="w-20 h-20"></li>
                    <li><img src="/static/stats/Images/upRed.svg" alt="" class="w-20 h-20"></li>
                  </ul>
                </div>
                
                <div class="flex justify-center w-96 border-t-2 font-bold border-t-black pt-4">
                  <ul class="flex flex-row gap-x-4">
                    <li>Session 1</li>
                    <li>Session 2</li>
                    <li>Session 3</li>
                    <li>Session 4</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </form>
    </main>
</body>
</html>