<!--Moved here by Muhammad Ravat (w1984454), html/css by Muhammad Ravat (w1984454)-->

<!-- Line 8-11 by Mohi for homepare redirectlink -->

{% load static %}

<nav class="border-2 bg-white border-b-gray-500 border-t-gray-500 p-2 flex items-center justify-between">
    <!-- Logo -->
    <a href="{% url 'home' %}"> 
    <img src="{% static 'Images/_Logo.png' %}" alt="Sky Logo" class="w-14">
</a>

    <!-- Tagline -->
    <p class="text-lg">
        Believe in Better - A better and healthier future at Sky UK for customers, employees, and everyone.
    </p>

    <!-- Nav Links -->
    <div class="flex gap-4 text-lg">
        <a href="{% url 'login' %}" class="{% if request.path == '/login/' %}border-b-2 border-b-gray-700{% else %}hover:border-b-2 hover:border-b-gray-500{% endif %}">
            Login
        </a>
        <a href="{% url 'signup' %}" class="{% if request.path == '/signup/' %}border-b-2 border-b-gray-700{% else %}hover:border-b-2 hover:border-b-gray-500{% endif %}">
            Signup
        </a>
    </div>
</nav>