{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'input.css' %}">
    <link rel="stylesheet" href="{% static 'stats/statsStyle.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0&icon_names=construction,corporate_fare,groups" />
    </head>
<body class="text-xl pb-10 overflow-x-hidden">
    <main>
          <div class="card" style="background-color: #00BFFF;">
            <div class="card-header">
              <span class="material-symbols-outlined icon">construction</span>
              <h1>Engineer Summary</h1>
            </div>
            <div class="card-body">
              <a href="/stats/engineer" class="link" style="background-color: black; color:#00BFFF;">Visit your engineer summary page!</a>
            </div>
          </div>
          
          <div class="card" style="background-color: #ff3ad8;">
            <div class="card-header">
              <span class="material-symbols-outlined icon">groups</span>
              <h1>Team Summary</h1>
            </div>
            <div class="card-body">
              <a href="/stats/team" class="link" style="background-color: black; color:#ff3ad8;">Visit your team summary page!</a>
            </div>
          </div>
          
          <div class="card" style="background-color: #00FF66;">
            <div class="card-header">
              <span class="material-symbols-outlined icon">corporate_fare</span>
              <h1>Department Summary</h1>
            </div>
            <div class="card-body">
              <a href="/stats/department" class="link" style="background-color: black; color:#00FF66;">Visit your department summary page!</a>
            </div>
          </div>
      </main>
      
</body>
</html>