{% load static %}

<nav class="border-2 border-b-gray-500 border-t-gray-500 p-2 bg-slate-50 flex justify-between items-center">
    <div class="flex gap-x-10 justify-center">
        <a href="{% url 'profile' %}" class="hover:border-b-2 hover:border-b-gray-500">Profile</a>
        <a href="" class="hover:border-b-2 hover:border-b-gray-500">Health Check Statistics</a>
    </div>

    <div class="flex gap-8 text-lg ml-auto">
        <img src="{% static 'Images/_Logo.png' %}" alt="Sky Logo" class="skylogo">
        
        <a href="" class="hover:border-b-2 hover:border-b-gray-500 self-center">Sign out</a>
    </div>
</nav>