/* Work by Iqra Shah (1973224)*/

.profile-container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease; 
}

.profile-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.491);
    transform: translateY(-5px);
}

.profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.profile-container p {
    font-size: 1.3rem; 
    margin: 15px 0;
}

.profile-container .info-label {
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: space-evenly; 
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #f56400;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
    height: 20%;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #ff0000;
    transform: translateY(-5px);
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ff62ae, #bfaef9, #3acdfa);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
