{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Engineer DashBoard</title>
    <link rel="stylesheet" href="{% static 'input.css' %}">
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <link rel="stylesheet" href="{% static 'user/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'nav.css' %}">    

</head>

<body>
    {% include 'userNav.html' %}

    <h1>Welcome To The Engineers DashBoard</h1>

    <button>Health Check Quiz</button>

    <img src="{% static 'Images/healthcheckimage.jpg' %}" alt="HealthCheck" class="healthcheck">

</body>
</html>