<!-- This code was done by Iqra Shah (1973224) and Muhammad Ravat (1984454)-->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'input.css' %}">
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <link rel="stylesheet" href="{% static 'nav.css' %}">    

    <title>Home Page</title>
</head>

<body class="overflow-hidden h-screen bg-slate-50">
    {% include 'coreNav.html' %}

    <div class="h-full w-full flex items-center justify-center p-2 px-10 bg-cover bg-center bg-no-repeat"
    style="background-image: url('{% static 'Images/dark-abstract-with-flowing-waves.jpg' %}');">
    <div class="mx-auto my-auto bg-black p-6">
        <h1 
            class="mx-auto my-auto font-bold text-7xl p-4 bg-clip-text text-transparent"
            style="background-image: linear-gradient(90deg, #f56400 9.9%, #ff0000 35%, #b5007d 60%, #21429c 85%, #0071ff 100%)">
            Welcome to Sky <span id="typing-text"></span><span id="cursor">|</span>
        </h1>
    </div>
</div>

<script src="{% static 'core/home.js' %}"></script>

</body>
</html>

